@use "../foundation"as f;

.l-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include f.mq-up(pc) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 64px;
    }
}